html {
    box-sizing: border-box;
}
  *, *:after, *:before {
    box-sizing: inherit;
    margin:0;
    padding:0;
}
  
body {
    background-color: rgb(49, 33, 2);
}
.contenedor {
    max-width:1000px;
    margin:0 auto;
    padding: 20px;
    background-color: #f3d073;
    border-radius: 15px;
}
h1{
    color: gold;
    font-size: 50px;
}
h2{
      color: rgb(106, 46, 4);
      font-size: 40px;
}
h1, h2 {
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 20px;
}
div.contenido {
    width: 80%;
    margin: 30px auto 0 auto;
    font-size: 24px;
}
div.campo {
    margin-bottom: 10px;
}
label {
    font-family:Arial, Helvetica, sans-serif;
    display: block;
    font-size: 18px;
    color: rgb(162, 69, 3);
}
input{
    height: 25px;
    border-radius: 5px;
    border-color:  #f3d073;
    background-color: beige;

}
div.textarea {
    margin-top:20px;
}
textarea {
    width: 100%;
    background-color: beige;
    border-color:  #f2c958;
    border-radius: 10px;
}

@media (min-width:780px){
    .contenedor {
        margin:auto;
        padding: 20px;
        width: 80%;
        height: auto;
      }
}

@media (min-width:380px){
    h1{
        font-size: 35px;
    }
    h2{
        font-size: 25px;
    }
    .contenedor {
        margin:auto;
        padding: 20px;
        width: 60%;
        height: auto;
      }
}

@media (min-width:1024px){
    h1{
        font-size: 50px;
    }
    h2{
        font-size: 40px;
    }
    .contenedor {
        margin:auto;
        padding: 20px;
        width: 80%;
        height: auto;
      }
}
  